/* HABILIDADES */
.habilidades .container-habilidades {    
    text-align: center;    
    display: flex;
    justify-content: center;    
    flex-direction: row;
    flex-wrap: wrap;
}

.habilidades .container-habilidades .informacoes{
    max-width: 350px;
    padding: 40px 20px;    
}

.habilidades .container-habilidades .informacoes p,
.habilidades .container-habilidades .informacoes h3,
.habilidades .container-habilidades .informacoes .logo i{
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.habilidades .container-habilidades .informacoes:hover p,
.habilidades .container-habilidades .informacoes:hover h3,
.habilidades .container-habilidades .informacoes:hover .logo i{
    color: var(--cor-primaria);
}

.habilidades .container-habilidades .informacoes.informacoes.javascript:hover p,
.habilidades .container-habilidades .informacoes.informacoes.javascript:hover h3,
.habilidades .container-habilidades .informacoes.informacoes.javascript:hover .logo i{
    color: #f0dc4e;
}

.habilidades .container-habilidades .informacoes.informacoes.informacoes.html:hover p,
.habilidades .container-habilidades .informacoes.informacoes.informacoes.html:hover h3,
.habilidades .container-habilidades .informacoes.informacoes.informacoes.html:hover .logo i{
    color: #e44d25;
}

.habilidades .container-habilidades .informacoes.informacoes.informacoes.css:hover p,
.habilidades .container-habilidades .informacoes.informacoes.informacoes.css:hover h3,
.habilidades .container-habilidades .informacoes.informacoes.informacoes.css:hover .logo i{
    color: #379ad6;
}

.habilidades .container-habilidades .informacoes.informacoes.informacoes.informacoes.github:hover p,
.habilidades .container-habilidades .informacoes.informacoes.informacoes.informacoes.github:hover h3,
.habilidades .container-habilidades .informacoes.informacoes.informacoes.informacoes.github:hover .logo i{
    color: #9032ac;
}

.habilidades .container-habilidades .informacoes.informacoes.informacoes.informacoes.git:hover p,
.habilidades .container-habilidades .informacoes.informacoes.informacoes.informacoes.git:hover h3,
.habilidades .container-habilidades .informacoes.informacoes.informacoes.informacoes.git:hover .logo i{
    color: #f05030;
}

.habilidades .container-habilidades .informacoes.javascript h3 {
    font-size: var(--fonte-extra-grande);
    font-weight: 500;
    margin-bottom: 20px;
    color: #f0dc4e;      
}

.habilidades .container-habilidades .informacoes.html h3 {
    font-size: var(--fonte-extra-grande);
    font-weight: 500;
    margin-bottom: 20px;
    color: #e44d25;      
}

.habilidades .container-habilidades .informacoes.css h3 {
    font-size: var(--fonte-extra-grande);
    font-weight: 500;
    margin-bottom: 20px;
    color: #379ad6;      
}

.habilidades .container-habilidades .informacoes.github h3 {
    font-size: var(--fonte-extra-grande);
    font-weight: 500;
    margin-bottom: 20px;
    color: #9032ac;      
}

.habilidades .container-habilidades .informacoes.git h3 {
    font-size: var(--fonte-extra-grande);
    font-weight: 500;
    margin-bottom: 20px;
    color: #f05030;      
}

.habilidades .container-habilidades .informacoes p {
    font-size: 1.8rem;
    font-family: var(--fonte-secundaria);
}

.habilidades .container-habilidades .informacoes .logo i {
    font-size: 8rem;
}